body {
    font-family: 'Oswald', sans-serif;
}

:root {
    --color-morado: #660066;
}

/* Common */
.bg-purple {
    background: var(--color-morado);   
}

/* NavBar */
.navbar-title {
    font-weight: 700;
}

.navbar-toggler{
    border-color: #777777 !important;    
}

/* Section Uno bg-hero */
.s-uno-bg-hero {
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55% 90%;
    padding-top: 375px;   
    padding-bottom: 20px;       
    margin-top: 72px;      
}

.s-uno-title-one{
    font-size: 40px;
    font-weight: 200;     
}

.s-uno-title-two{
    font-size:40px;
    font-weight: 700;    
    border-top: 2px solid #FFFFFF ;   
    
}

/* Section Dos Sobre Mi */


/* Section Tres Experiancia */
.s-tres-title{
    font-size: 35px;
    font-weight: 700;
    color: #373A3C;
    margin-top: 30px;    
}

.s-tres-title-line{
    border-bottom: 2px solid #373A3C ; 
    width: 85px;
    display: inline-block;
}

.s-tres-logo{
    width: 150px;    
}

.s-tres-logo-entel{ 
    width: 170px;
}

.s-tres-logo-abcdin{
    width: 170px;
}

.s-tres-subtitle{
    font-size: 25px;
    font-weight: 700;
    color: #373A3C;
    letter-spacing: 0.5px;
}

.s-tres-years{
    font-size: 25px;
    font-weight: 200; 
    color: #373A3C;
    letter-spacing: 0.5px;
}

    /* Modales */    
    .modal-logo{
        width: 80px;
    }

    .modal-year{
        font-weight: 100;
    }

    .modal-ul{
        font-size: 14px;
        font-weight: 300;
    }
/* Section Cuatro Ultimos Trabajos*/
.s-cuatro-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
}

.s-cuatro-title-line{
    border-bottom: 2px solid #FFFFFF ; 
    width: 85px;
    display: inline-block;
}
.card{
     width: 15.375em;     
}

.card-text {
    display: -webkit-box;
    display: box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow-y: hidden;
}

.card-title{
    font-size: 17px;
    font-weight: 500;
    color: #373A3C;
}

.card-text{
    font-size: 16px;
    font-weight: 300;
    color: #373A3C;
}

/* Section Cinco Contacto */
.s-cinco-title{
    color: #373A3C;
    font-weight: 700;
    font-size: 35px;
}

.s-cinco-title-line{
    border-bottom: 2px solid #373A3C ; 
    width: 85px;
    display: inline-block;
}

/* Footer */
.footer-container{
    padding-top: 45px;
    padding-bottom: 60px;
}

.footer-title{
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}

/* Vista Small */
@media (min-width: 576px){
    /* Common */

    /* NavBar */

    /* Section Uno bg-hero */

    /* Section Dos Sobre Mi */

    /* Section Tres Experiancia */

    /* Section Cuatro Ultimos Trabajos*/

    /* Section Cinco Contacto */

    /* Footer */
}

/* Vista Medium */
@media (min-width: 768px){
    /* Common */

    /* NavBar */

    /* Section Uno bg-hero */

    /* Section Dos Sobre Mi */
    .s-dos-description{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #373A3C;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 16px;
    }
    
    .s-dos-presentation{
        font-size: 14px;
        font-weight: 400;
        color: #373A3C;
        letter-spacing: 0.16px;
        line-height: 40px;
    }

    /* Section Tres Experiancia */
    .s-tres-logo{
        width: 60px;
    }

    .s-tres-logo-entel{ 
        width: 60px;
    }

    .s-tres-logo-abcdin{
        width: 100px;
        margin-top: 13px;
        margin-bottom: 17.46px;
    }
    
    /* Section Cuatro Ultimos Trabajos*/

    /* Section Cinco Contacto */

    /* Footer */
    .footer-container{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/* Vista large */
@media (min-width: 992px){
    /* Common */

    /* NavBar */

    /* Section Uno bg-hero */
    .s-uno-bg-hero {        
        background-position: 70% 100%;
        background-size: auto;        
        padding-top: 425px;  
    }

    .s-uno-title-one{
        font-size: 72px;
    }

    .s-uno-title-two{
        font-size: 72px;
    }
    /* Section Dos Sobre Mi */
    .s-dos-description{
        font-size: 25px;
    }

    .s-dos-presentation{
        font-size: 16px;
    }
    /* Section Tres Experiancia */
    .s-tres-title{
        font-size: 52px;
    }

    .s-tres-title-line{
        width: 120px;
    }

    .s-tres-logo{
        width: 150px;
    }

    .s-tres-logo-entel{ 
        width: 150px;
        margin-top: 9.58px !important;        
    }

    .s-tres-logo-abcdin{
        width: 230px;
        margin-top: 13px;
        padding-top: 20px;
        margin-bottom: 27.94px;
    }
        /* carrusel */
        .carousel-indicators{
            top: 280px;    
        }
        
        .carousel-indicators li{    
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #373A3C;
        }
        
        


    /* Section Cuatro Ultimos Trabajos*/
    .s-cuatro-title{
        font-size: 52px;
    }


    /* Section Cinco Contacto */
    .s-cinco-title{
        font-size: 52px;
    }

    .s-cinco-title-line{
        width: 120px;
    }

    /* Footer */
    .footer-title{
        font-size: 40px;
    }

    .size-icon{
        font-size: 64px;
    }
}

/* Vista Extra Large */
@media (min-width: 1200px){
    /* Common */

    /* NavBar */

    /* Section Uno bg-hero */

    /* Section Dos Sobre Mi */

    /* Section Tres Experiancia */

    /* Section Cuatro Ultimos Trabajos*/

    /* Section Cinco Contacto */

    /* Footer */
}